/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
* {
	box-sizing: border-box;
}
.container { width: 1000px;
	 margin: 0 auto; 
}
.navigationbar{
	/* border:1px solid red; */
}

#content{
	border-top: 1px solid black;
	border-bottom:1px solid black;
}
.gs{
	border :1px solid black;
	width:150px;
	margin: 0 auto;
	text-align: center;
	padding:10px;
	
}


.nav-item{ 
	padding-right: 40px;
	display:inline-block

}

.greatidea{
	width: 50px;
	display:inline-block;
	padding-left:250px;
	
}
.innovation{
	/* border:1px solid blue; */
	display: inline-block;
	margin-left: 100px;
}
.innovation h1{
	font-size:70px;
	margin-bottom:1px;
	text-align: center;
}
/* .round img{
	width:200px;
	height:200px;
} */
.round{
	margin-left:180px;
		display: inline-block;
		/* width:200px;
		height:200px; */
	}
.features{
	width: 470px;
	border: 15px;
	/* padding: 50px; */
	display:inline-block;
}
.about{
	width: 470px;
	/* border: 1px solid green; */
	margin-left: 55px;
	display:inline-block;
}
.services{
	width: 300px;
	border: 15px;
	padding: 50px;
	margin: 20px;
	display:inline-block;
}
/* .middleimage{
	width: 300px;
	border: 15px;.
	padding: 50px;
	margin: 20px;
	display:inline-block;
} */
.product{
	width: 300px;
	border: 15px;
	padding: 50px;
	margin: 20px;
	display:inline-block;
}
.vision{
	width: 300px;
	border: 15px;
	margin: 20px;
	display:inline-block;
}
.contact{
	width: 300px;
	border: 15px;
	padding: 50px;
	margin: 20px;
	display:inline-block;
}
.footer{
	padding-left:450px;
}
address{
	font-style: italic
}